<!DOCTYPE html>
<html>
    <head>
        <title>KM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="js/FileSaver.js"></script>
    </head>
    <body>
		<div>
			<div class = "input_container" style = "margin: 0 auto;">
				<h1 style = "text-align: center; color: white;">
					Knowledge Maps
				</h1>
				<div class="slider_container">
					<input type="range" min="300" max="1000" value="300" class="slider" id="myRange">
				</div>
				<div id="pageAttrs">
					<div class="attr">
						<p > The page width is:  </p>
						<p id="pageWidth"></p>
					</div>
				</div>
				<div class = "iframeContainer">
					<iframe id="articles_page" src="example1/index.html">
					</iframe>
					<iframe id="icons_page" src="example2/index.html">
					</iframe>
				</div>
			</div>
			<div class = "code_container">
			  <div class = "code_panel">
				<div>
				  <button class="btn btn-large btn-secondary" type="button" data-toggle="collapse" data-target="#collapseCode" aria-expanded="false" aria-controls="collapseCode">
					Show Code
				  </button>
					<div class="collapse" id="collapseCode">
					<div id="code_editor">
					  .blog-feed__wrap {
						<section style="margin-left:20px;">
						  <p>
							  display: grid;
							</p>
						  <p style="background-color:yellow">grid-template-columns:
									<select>
										<option value="1fr" selected>1fr</option>
										<option value="1fr 1fr">1fr 1fr</option>
									</select>
							  ;</p>
						  <p>grid-template-rows: auto;</p>
						  <p>grid-gap: 20px; }</p>
						  <p>@media (min-width: 40em) {</p>
							<section style="margin-left:20px;">
							<p>.blog-feed__wrap {</p>
								<section style="margin-left:10px;">
									<p style="background-color:yellow">grid-template-columns:
									<select>
										<option value="1fr">1fr</option>
										<option value="1fr 1fr" selected>1fr 1fr</option>
										<option value="1fr 1fr 1fr">1fr 1fr 1fr</option>
									</select>
										; } }</p>
						 		</section>
							</section>
						  <p>@media (min-width: 60em) {</p>
							<section style="margin-left:20px;">
								<p>.blog-feed__wrap {</p>
								<section style="margin-left:10px;">
									<p style="background-color:yellow">grid-template-columns:
									<select>
										<option value="1fr 1fr 1fr" selected>1fr 1fr 1fr</option>
										<option value="1fr 1fr 1fr 1fr">1fr 1fr 1fr 1fr</option>
									</select>
										;</p>
								</section>
								<p>} }</p>
							</section>
						</section>
					  </div>
					</div>
			  	</div>
			</div>
			<div class = "code_panel">
				<div>
				  <button class="btn btn-large btn-secondary" type="button" data-toggle="collapse" data-target="#collapseCode" aria-expanded="false" aria-controls="collapseCode">
					Show Code
				  </button>
					<div class="collapse" id="collapseCode">
					<div id="code_editor">
					  .grid {
						<section style="margin-left:20px;">
						  <p>
							  display: grid;
							</p>
						  <p style="background-color:yellow">grid-template-columns: repeat( 
									<select>
										<option value="auto-fill" selected>auto-fill</option>
										<option value="2">1</option>
										<option value="6">3</option>
									</select>
							  , minmax(
									<select>
										<option value="auto-fill" selected>9rem, 1fr</option>
										<option value="6rem, 1fr">6rem, 1fr</option>
										<option value="15rem, 1fr">12rem, 1fr</option>
									</select>));</p>
						  <p>grid-auto-rows: min-content;</p>
						  <p>grid-column-gap: 0.375rem;</p>
						  <p>grid-row-gap: 0.375rem;</p>
							<p>grid-auto-flow: dense;</p>
							</section>
					  </div>
					</div>
				</div>
			</div>
			  <div class = "code_panel">
				  <form action="/visualOutcomes" method="POST" id="visual_outcomes">
						<p>How does the highlighted code across the two examples produce a different visual outcome for each example</p>
						<textarea name="paragraph_text" cols="50" rows="10"></textarea>
					  <div id="outcomes">
					  </div>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block">Submit!</button>
						</div>
				  </form> 
			  </div>
		  	</div>
		</div>
    </body>
    <script src="local.js"></script>
</html>