.slider_container {
	margin-top: 50px;
}

.input_container {
	margin: auto;
}

#articles_page{
    margin-top: 130px;
    width: 500px;
    height: 600px;
	margin-left: 50px;
	float: left; 
}

#iframe_container{
	display: flex;
}

.code_container {
	float:left;
	clear:both; 
	margin-left: 50px;
}

#icons_page{
    margin-top: 130px;
    width: 500px;
    height: 600px;
	margin-left: 50px;
	float: left;
}

.code_panel {
	margin-top: 100px;
	float: left;
	margin-left: 200px;
	width: 600px;
	text-align: center;
}

body{
    display: grid;
    grid-template-columns: 4fr;
    width: 100%;
    height: 100%;
    background-color: #1f2833 !important;
}
#visual_outcomes{
    margin-top: 130px;
    height: 500px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#pageAttrs{
    background-color: white;
}

.attr{
    display: flex;
    flex-direction: row;  
	text-align: center;
}

#code_outcomes{
    margin-top: 130px;
    height: 500px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#code_editor{
    margin-top: 130px;
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
}